/* src/components/Navbar.css */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.3rem 1rem;
    background-color: black;
    color: orange;
    width:100%;
    margin-bottom: 3px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style-type: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navbar-links a {
    color:orange;
    text-decoration: none;
    font-size: 1rem;
  }
  
  .navbar-links a:hover {
    text-decoration: underline;
    color: whitesmoke;
  }
  